/*CSS varriable where you can reference back to later when things get repetative.*/
:root {
  /* declare a variable with `--` syntax */
  --turquoise: #8cc0bd;
  --light: #fff;
  --olive-green: #434f39;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: end;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4%;
  /*CSS var() function is to reference a variable created above */
  background-color: var(--turquoise);
}

nav a{
  margin: 10px;
}

nav{
  display: flex;
}
.tab{
  display: flex;
}
/*main header image*/
.start {
width: 100%;
} 

/* subtitle on main image*/
.main-banner {
  width: 100%;
  height: 500px;
  background-image: url('../images/02-hero-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
/*Subtitle*/
.main-banner h2 {
  position:relative;
  margin-right: 20px;
  margin-bottom: 20px;
  color: var(--light);
  font-size: 200%;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

/*About Me Header*/
header h1 {
  font-size: 300%;
padding: 20px;
  color: var(--olive-green);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*About Me location */
.Page-Section h3, section {
  margin: 10px;
  z-index: 3;
}
/*About Me Margin text-align*/
.Page-Wrap, .Page-Section, #about, h3{
 margin-top: auto;
 text-align: left;
  z-index:3;
}
/*Nav bar font details*/
h3 {
  font-size: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: var(--olive-green);
  z-index: 2;
}
/*paragraph of personal introduction*/
h4 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: left;
  margin: 30px;


/*Nav bar display*/
}
a {
  color: black;
  justify-content: right;
  font-size: 20px;
}
/*The border around (VISIT WEBSITE)*/
.img h4{
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  color: var(--light);
}
/*All of the images in the other tabs that are provided*/
.tabs {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/*Border around the images provided*/
.tabs .flex-img {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
 
}

.flex-img img {
  border-style:groove;
  border-radius: 20px;
  border-color: var(--olive-green);
  width: 100%;
}
/*Image with calculator

How to add text onto images? - Use of flexbox, adding another header under 
and position where the item needs to go. 
How to add border around text and fill inside? - Adding a border color would help.
How to attach link to images tabs? - Add a URL to desired website in the href="" section. 
how to make images responsive?*/

button:hover {
  background-color: var(--turquoise);
  color: var(--olive-green);
}

button:active {
  font-size: 30%;
  box-shadow: var(--olive-green);
}
/*buttons that are displayed under the images*/
.button {
  display: inline-block;
  padding: 10px 20px;
  color: var(--olive-green);
  text-decoration: none;
  font-weight: bold;
}

.Surf {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-style:groove;
  border-radius: 20px;
  border-color: var(--olive-green);
  margin: 20px;
  float: right;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: row;
  }
  header {
    background: var(--turquoise);
  }
}

.wrapper {
  position: relative;

}

/*VISIT WEBSITE border color and position*/
.inner-wrapper {
position: absolute;
bottom: 30px;
right: 40px;
background-color: var(--light);
}
.flex-img img:hover {
  border-color: var(--turquoise);
}